smolagents
PyQt6
python-dotenv
huggingface-hub
pyyaml
requests
tqdm
gradio
gradio-client
torch
pillow
transformers
accelerate
chromadb
sentence-transformers
helium
peft
datasets
bitsandbytes
selenium
webdriver-manager
smolagents[transformers,tools]
duckduckgo-search
markdown
certifi
pyinstaller
langchain-community
langchain-huggingface
chromadb
unidecode
langchain
PyQt6-WebEngine
openai
google-genai
groq
anthropic
pypdf2